@charset "utf-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


/* **************** 공통영역 구성 시작 ******************* */
body {
    overflow-x: hidden;
    position: relative;
}

/* header */
/* #header {
    width: 100%;
    height: 63px;
    position: relative;
}

#header > div {
    width: 100%;
    height: 100%;
    padding: 10px;
}
#header .back {
    display: block;
    width: 35px;
    height: 35px;
}
#header .back img {
    width: 100%;
    height: 100%;
}
#header h1 {
    position: absolute; left: 50%; top: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    font-size: 2rem;
} */

#header {
    width: 100%;
    height: 177px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#navi{
    width: 100%;
}
#search {
    width: 100%;
    height: 40px;
    margin: 15px 0;
}
#tab {
    width: 100%;
    height: 100%;
    margin-top: 177px;
}

/* header */
#header .header_top {
    width: 100%;
    padding: 10px 0 0 5%;
    position: relative;
}
#header .menu_left {
    display: inline-block;
    width: 50px;
    height: 100%;
}
#header .menu_left img{
    width: 30px;
    height: 100%;
}
#header h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 40px;

    position: absolute; left: 50%; top: 60%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#header .camera_btn {
    width: 30px;
    height: 23px;
    position: absolute;
    right: 5%;
    top: 13px;
}
#header .camera_btn label {
    width: 100%;
    height: 100%; 
    display: inline-block;
    cursor: pointer;
    background: url(../images/main_page/search/camera.png) no-repeat 0 0;
    background-size: cover;
} 
#header .camera_btn input[type="file"] { /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}
/* search */
#search .search_wrap {
    width: 90%;
    height: 100%;
    background-color: #FAFAFA;
    margin: 0 auto;
    position: relative;
}
#search .search_wrap .input_search {
    width: 90%;
    height: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}
#search .search_wrap .input_search:focus {
    outline:none;
}
#search .search_wrap .magnifier_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
}
#search .search_wrap .magnifier_btn img {
    width: 100%;
    height: 100%;
}
/* main tab menu */
#header .main_tab_menu {
    width: 100%;
    height: 63px;
    padding: 0 5%;
}
#header .main_tab_menu a {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    line-height: 63px;
    font-weight: 700;
    font-size: 1.4rem;
    position: relative;
}
#header .main_tab_menu a:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FED500;
    position: absolute;
    left: 0;
    bottom: 2px;
}
/* 탭 활성화 클래스 */
.main_tab_active::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FED500;
    position: absolute;
    left: 0;
    bottom: 2px;
}
/* navi */
#navi .gnb_hidden {
    display: block;
    width: 80%;
    height: 100vh;
    background-color: #fff;

    -webkit-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -o-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -ms-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    
    position: fixed; 
    left: -100%;
    top: 0; 
    z-index: 20;
}
#navi .gnb_hidden .user_yellow {
    width: 100%;
    height: 250px;
    background-color: #FED500;
    padding: 65px 0 0 20px;
}
#navi .gnb_hidden .user_yellow img {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}
#navi .gnb_hidden .user_yellow div {
    font-size: 1.8rem;
}

#navi .gnb_hidden ul {
    padding: 40px 0 0 20px;
}
#navi .gnb_hidden ul li {
    margin-bottom: 25px;
}
#navi .gnb_hidden ul li a {
    font-size: 2rem;
}

#navi .hidden_cover {
    width: 100%;
    height: 100vh;
    position: fixed; 
    left: -100%;
    top: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 10;
}


/* ******************** bookinfo.html ************************* */
/* 레이아웃 구성시작 */
#bookInfo,
#review {
    width: 100%;
    padding: 30px 8%;
}

/* 개별영역 구성시작 */
#bookInfo .left_box {
    float: left;
    margin-right: 20px;
}
#bookInfo .left_box img {
    width: 100px;
    height: 140px;
}
#bookInfo .right_box {
    float: left;
    width: 60%;
}
#bookInfo .right_box .deco_text {
    color: #ff2222;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}
#bookInfo .right_box h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
#bookInfo .right_box .writer {
    font-size: 1.1rem;
}
#bookInfo .right_box .writer span {
    display: inline-block;
    width: 35px;
}
#bookInfo .right_box .subject {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
#bookInfo .right_box .subject span {
    display: inline-block;
    width: 35px;
}
#bookInfo .right_box button {
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}
#bookInfo .right_box .button_box {
    width: 100%;
    margin-bottom: 5px;
}
#bookInfo .right_box .button_box button {
    font-size: 1rem;
}
#bookInfo .right_box > button {
    width: 186px;
    background-color: #FFAA2B;
}

#review h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
#review p {
    font-size: 1.3rem;
    line-height: 1.4;
}



/* ******************** booktest.html ************************* */
/* 레이아웃 구성시작 */
#content {
    width: 100%;
    position: relative;
}

/* 개별영역 구성시작 */
#content img {
    width: 100%;
}
#content .exam_text {
    position: absolute;
    left: 0;
    bottom: 10%;
    padding: 10%;
}
#content .exam_text h2 {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
#content .exam_text ul li {
    margin-bottom: 10px;
}
#content .exam_text ul li label {
    font-size: 1.2rem;
}
#content .exam_submit {
    width: 100%;
}
#content .exam_submit button {
    display: block;
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background-color: #00468E;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 30px auto;
}


/* ******************** booktest2.html ************************* */
.booktest2_ok_btn {
    display: block;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    background-color: #333333;
    margin: 5px auto;
}


/* ******************** bookcontest.html ************************* */
.entry_btn {
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #033333;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    margin: 30px auto;
}



/* ******************** bookcontest2.html ************************* */
/* 레이아웃 구성시작 */
#form_content {
    width: 100%;
}

/* 개별영역 구성시작 */
#form_content form {
    width: 100%;
}
#form_content form fieldset {
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
}
#form_content form .form_group {
    width: 95%;
    margin: 20px 5%;
}
#form_content form .form_group label {
    width: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    vertical-align: top;
    padding-right: 20px;
}
#form_content form .form_group input,
#form_content form .form_group select,
#form_content form .form_group textarea {
    width: 80%;
    border-radius: 0;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    padding: 2px 2%;
}
#form_content form .form_group input,
#form_content form .form_group select{
    height: 30px;
}
#form_content form .form_group #grade {
    width: 40%;
}

/* select 화살표 스타일 변경 */
select { 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    background: url(../images/menu_left/icon/select.png) no-repeat 98% 50%;
    background-size: 15px 17px;
} 
select::-ms-expand { /* IE 10, 11의 네이티브 화살표 숨기기 */
    display: none; 
} 

/* input file 스타일 변경 */ 
#form_content form .file_label_replace {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 5%;
    padding-right: 20px;
}
#form_content form .filebox {
    display: inline-block;
    width: 80%;
}
#form_content form .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
#form_content form .filebox label {
    display: inline-block;
    padding: .5em .75em;
    font-size: 1.3rem;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #333333;
}
/* named upload */
#form_content form .filebox .upload-name {
    width: 80%;
    display: inline-block;
    padding: .5em .75em;
    font-size: 1.3rem;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    border: 1px solid #ccc;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
#form_content form .filebox.bs3-primary label {
    color: #fff;
    background-color: #333333;
}

#form_content form .contest_submit {
    width: 98%;
    height: 50px;
    background-color: #fa0;
    color: #fff;
    font-size: 2rem;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 1%;
    bottom: 5px;
}



/* ******************** bookcontest3.html ************************* */
#content3 {
    width: 100%;
    text-align: center;
}
#content3 h2 {
    font-size: 2rem;
    padding: 50px;
}
#content3 a {
    display: inline-block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    background-color: #FFAA2B;
    color: #fff;
    border-radius: 5px;
}









/* ******************* Media Query ********************* */

@media (min-width: 400px) {
    #content .exam_text {
        bottom: 12%;
    }
    #content .exam_text h2 {
        font-size: 1.6rem;
    }
    #content .exam_text ul li label {
        font-size: 1.6rem;
    }
}

/* 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용) */
@media (min-width: 768px) { 

    #bookInfo .left_box {
        margin-right: 30px;
    }
    #bookInfo .left_box img {
        width: 125px;
        height: 165px;
    }
    #bookInfo .right_box .deco_text {
        font-size: 1.4rem;
    }
    #bookInfo .right_box h2 {
        font-size: 2rem;
    }
    #bookInfo .right_box .writer {
        font-size: 1.5rem;
    }
    #bookInfo .right_box .subject {
        font-size: 1.5rem;
    }
    #bookInfo .right_box .button_box button {
        font-size: 1.4rem;
    }
    #bookInfo .right_box > button {
        width: 248px;
        font-size: 1.4rem;
    }
    #review h3 {
        font-size: 1.8rem;
    }
    #review p {
        font-size: 1.7rem;
    }
    #content .exam_text {
        bottom: 14%;
    }
    #content .exam_text h2 {
        font-size: 2rem;
    }
    #content .exam_text ul li label {
        font-size: 2rem;
    }
    #content .exam_submit button {
        height: 60px;
        border-radius: 60px;
        font-size: 1.6rem;
    }

}


