@charset "utf-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


/* ************* 레이아웃 구성 시작 ************** */
body {
    overflow-x: hidden;
    position: relative;
}

#header {
    width: 100%;
    height: 177px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#navi{
    width: 100%;
}
#search {
    width: 100%;
    height: 40px;
    margin: 15px 0;
}
#tab {
    width: 100%;
    height: 100%;
    margin-top: 177px;
}



/* ************* 개별영역 구성 시작 ************** */
/* header */
#header .header_top {
    width: 100%;
    padding: 10px 0 0 5%;
    position: relative;
}
#header .menu_left {
    display: inline-block;
    width: 50px;
    height: 100%;
}
#header .menu_left img{
    width: 30px;
    height: 100%;
}
#header h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 40px;

    position: absolute; left: 50%; top: 60%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#header .camera_btn {
    width: 30px;
    height: 23px;
    position: absolute;
    right: 5%;
    top: 13px;
}
#header .camera_btn label {
    width: 100%;
    height: 100%; 
    display: inline-block;
    cursor: pointer;
    background: url(../images/main_page/search/camera.png) no-repeat 0 0;
    background-size: cover;
} 
#header .camera_btn input[type="file"] { /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}
/* search */
#search .search_wrap {
    width: 90%;
    height: 100%;
    background-color: #FAFAFA;
    margin: 0 auto;
    position: relative;
}
#search .search_wrap .input_search {
    width: 90%;
    height: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}
#search .search_wrap .input_search:focus {
    outline:none;
}
#search .search_wrap .magnifier_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
}
#search .search_wrap .magnifier_btn img {
    width: 100%;
    height: 100%;
}
/* main tab menu */
#header .main_tab_menu {
    width: 100%;
    height: 63px;
    padding: 0 5%;
}
#header .main_tab_menu a {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    line-height: 63px;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
}
#header .main_tab_menu a:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FED500;
    position: absolute;
    left: 0;
    bottom: 2px;
}
/* 탭 활성화 클래스 */
.main_tab_active::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FED500;
    position: absolute;
    left: 0;
    bottom: 2px;
}
/* navi */
#navi .gnb_hidden {
    display: block;
    width: 80%;
    height: 100vh;
    background-color: #fff;

    -webkit-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -o-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    -ms-box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    box-shadow: 5px 0 15px 1px rgba(204, 204, 204, 0.5);
    
    position: fixed; 
    left: -100%;
    top: 0; 
    z-index: 20;
}
#navi .gnb_hidden .user_yellow {
    width: 100%;
    height: 250px;
    background-color: #FED500;
    padding: 65px 0 0 20px;
}
#navi .gnb_hidden .user_yellow img {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}
#navi .gnb_hidden .user_yellow div {
    font-size: 1.8rem;
}

#navi .gnb_hidden ul {
    padding: 40px 0 0 20px;
}
#navi .gnb_hidden ul li {
    margin-bottom: 25px;
}
#navi .gnb_hidden ul li a {
    font-size: 2rem;
}

#navi .hidden_cover {
    width: 100%;
    height: 100vh;
    position: fixed; 
    left: -100%;
    top: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 10;
}



/* ************* new books tab *************** */
#tab .main_tab_content h2 {
    font-size: 1.5rem;
}
#tab h2 .kbs_span {
    color: #0B5EAA;
}
#tab h2 .class1_span {
    color: #E66D1E;
}
#tab h2 .class2_span {
    color: #0E96AC;
}
#tab h2 .class3_span {
    color: #CA275C;
}
#tab h2 .class4_span {
    color: #ED841B;
}
#tab h2 .class5_span {
    color: #5A7411;
}
#tab h2 .class_child_span {
    color: #760A9C;
}
#tab .book_title_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 40px 0 10px 0;
}
#tab .book_title_box h2 {
    width: 100%;
}
#tab .book_title_box a {
    display: block;
    width: 65px;
    font-size: 1.2rem;
}
#tab .main_tab_content > div {
    padding: 0 5%;
}
#tab .main_tab_content .main_banner_wrap {
    width: 90%;
    margin: 0 5%;
    padding: 20px 0 0 0;
}
#tab .main_new_bx li,
#tab .main_kbs1_slide li,
#tab .main_kbs2_slide li,
#tab .main_kbs3_slide li,
#tab .main_kbs4_slide li,
#tab .main_kbs5_slide li,
#tab .main_kbs_child_slide li {
    background: url(../images/main_page/new_books/new_book/background.png) no-repeat 0 0;
    background-size: cover;
    padding: 5px;
}
#tab .main_new_bx li a,
#tab .main_kbs1_slide li a,
#tab .main_kbs2_slide li a,
#tab .main_kbs3_slide li a,
#tab .main_kbs4_slide li a,
#tab .main_kbs5_slide li a,
#tab .main_kbs_child_slide li a {
    width: 100%;
    height: 100%;
}
#tab .main_new_bx li a > div,
#tab .main_kbs1_slide li a > div,
#tab .main_kbs2_slide li a > div,
#tab .main_kbs3_slide li a > div,
#tab .main_kbs4_slide li a > div,
#tab .main_kbs5_slide li a > div,
#tab .main_kbs_child_slide li a > div {
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    font-size: 1.3rem;
}

/* new book list(전체보기 리스트) */
#tab .list_title_box {
    width: 100%;
    padding: 20px 5%;
}
#tab .list_title_box h2 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
#tab .list_title_box p {
    width: 100%;
    font-size: 1.4rem;
}
#tab .book_list_wrap {
    width: 100%;
    padding: 0 5%;
}
#tab .book_list_wrap ul {
    width: 100%;
    height: 100%;
}
#tab .book_list_wrap ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tab .book_list_wrap .book_box {
    width: 70%;
}
#tab .book_list_wrap .book_box a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
#tab .book_list_wrap .book_box a img {
    display: inline-block;
    width: 80px;
    margin-right: 20px;
}
#tab .book_list_wrap .book_info_box {
    display: inline-block;
}
#tab .book_list_wrap .book_info_box h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#tab .book_list_wrap .book_info_box .author {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#tab .book_list_wrap .book_info_box .book_info {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#tab .book_list_wrap .book_info_box .price {
    font-size: 1.2rem;
    font-weight: bold;
}
#tab .book_list_wrap .button_box {
    width: 30%;
    text-align: right;
}
#tab .book_list_wrap .button_box a {
    display: inline-block;
    width: 40px;
    height: 40px;
}
#tab .book_list_wrap .button_box a:last-child {
    margin-left: 5px;
}
#tab .book_list_wrap .button_box a img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* book_detail */
#tab .book_like_wrap {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 20px 0;
}
#tab .book_like_wrap img {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}
#tab .book_like_wrap .choice_heart {
    display: none;
}
/* 찜하기 더블클릭 토글 클래스 */
.choice_heart_on {
    display: block !important;
    font-size: 3rem !important;
    font-weight: bold !important;
    color: #fff !important;

    position: absolute !important; 
    left: 50% !important; 
    top: 40% !important;
    
    -webkit-transform: translate(-50%,-50%) !important;
    -moz-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
}
#tab .book_like_wrap .deco_text {
    font-size: 1.2rem;
    color: #f00;
    margin-bottom: 5px;
}
#tab .book_like_wrap h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#tab .detail_tab_menu {
    width: 100%;
    height: 40px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
#tab .detail_tab_menu ul li {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    line-height: 40px;
}
#tab .detail_tab_menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #BABABA;
    font-weight: bold;
    position: relative;
}
#tab .detail_tab_menu ul li a:hover {
    color: #000;
}
#tab .detail_tab_menu ul li a:hover::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;

    position: absolute; left: 50%; bottom: 0;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* 탭메뉴 활성화 클래스 */
.detail_tab_active {
    color: #000 !important;
}
.detail_tab_active::after{
    content: '' !important;
    display: block !important;
    width: 60px !important;
    height: 3px !important;
    background-color: #000 !important;

    position: absolute !important; 
    left: 50% !important; 
    bottom: 0 !important;
    
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}

/* tab content */
#tab .tab_detail_info,
#tab .tab_detail_quiz,
#tab .tab_detail_talk {
    display: none;
    padding: 0 5%;
}
#tab .tab_detail_info ul {
    width: 100%;
    height: 100%;
}
#tab .tab_detail_info li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
#tab .tab_detail_info .summary_title_box {
    width: 100%;
    margin-bottom: 20px;
}
#tab .tab_detail_info .summary_title_box h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
#tab .tab_detail_info .summary_content {
    width: 100%;
    height: 40px;
    line-height: 1.5;
    overflow: hidden;
    text-align: justify;
}
#tab .tab_detail_info ul li > h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
#tab .tab_detail_info ul li .extend_box {
    text-align: center;
    margin-top: 20px;
}
#tab .tab_detail_info ul li .extend_box a {
    color: #8F8F8F;
}
#tab .tab_detail_info ul li .extend_box img {
    display: inline-block;
    width: 15px;
    height: 10px;
}
/* 자세히 버튼 눌렀을 떄 토글 클래스 */
.extend_toggle {
    height: auto !important;
}

#tab .tab_detail_quiz {
    width: 100%;
}
#tab .tab_detail_quiz p {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#tab .tab_detail_talk {
    width: 100%;
}
#tab .tab_detail_talk .thumb_box {
    width: 100%;
    text-align: center;
    margin: 40px 0 30px 0;
}
#tab .tab_detail_talk .thumb_box a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/main_page/new_books/book_detail/recommend.png) no-repeat 0 0;
    background-size: cover;
}
/* 별점 활성화 클래스 */
.thumb_on {
    background-image: url(../images/main_page/new_books/book_detail/recommend_o.png) !important;
}

#tab .tab_detail_talk form {
    width: 100%;
    text-align: right;
}
#tab .tab_detail_talk form textarea {
    display: block;
    width: 100%;
    height: 200px;
    outline: none;
    border: 1px solid #ccc;
}
#tab .tab_detail_talk form textarea::-webkit-input-placeholder {
    color: #848484;
    font-family: "NanumSquare", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 80px;
}
#tab .tab_detail_talk form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #848484;
    font-family: "NanumSquare", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 80px;
}
#tab .tab_detail_talk form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #848484;
    font-family: "NanumSquare", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 80px;
}
#tab .tab_detail_talk form textarea:-ms-input-placeholder {
    color: #848484;
    font-family: "NanumSquare", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 80px;
}
#tab .tab_detail_talk form .talk_submit {
    display: inline-block;
    width: 70px;
    height: 35px;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #333333;
    font-weight: bold;
    margin-top: 10px;
}
#tab .tab_detail_talk > ul {
    width: 100%;
    margin-top: 20px;
}
#tab .tab_detail_talk > ul li {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
#tab .tab_detail_talk .id_date_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#tab .tab_detail_talk .id_date_box div {
    color: #848484;
}
#tab .tab_detail_talk .hashtag_box {
    color: #07f;
    margin-top: 10px;
}




/* ************* my_books tab *************** */
#tab .custom_book_title {
    font-size: 1.5rem;
    margin: 0 0 20px 5%;
    padding-top: 20px;
}
#tab .custom_book_title span {
    color: #F3714F;
}
#tab .my_tab_menu {
    width: 100%;
    height: 42px;
}
#tab .my_tab_menu ul {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
#tab .my_tab_menu ul li {
    width: 32%;
    display: inline-block;
    text-align: center;
}
#tab .my_tab_menu ul li a {
    border: 1px solid #262626;
    border-radius: 42px;
    font-size: 1.2rem;
    padding: 5px 10px;
}
#tab .my_tab_menu ul li a:hover {
    background-color: #262626;
    color: #fff;
}

/* 탭메뉴 활성화 클래스 */
.my_tab_menu_on {
    background-color: #262626 !important;
    color: #fff !important;
}

#tab .tab_genre,
#tab .tab_author,
#tab .tab_subject {
    display: none;
    padding: 0 5%;
}
#tab .tab_genre h2,
#tab .tab_author h2,
#tab .tab_subject h2 {
    font-size: 1.5rem;
}
#tab .book_title_box h2 .author_span1 {
    color: #ABBD2B;
}
#tab .book_title_box h2 .author_span2 {
    color: #1152B8;
}
#tab .book_title_box h2 .subject_span1 {
    color: #2AB5BA;
}
#tab .book_title_box h2 .subject_span2 {
    color: #0854C4;
}

#tab .my_self_bx li,
#tab .my_essay_bx li,
#tab .my_author_bx1 li,
#tab .my_author_bx2 li,
#tab .my_famous_bx li,
#tab .my_family_bx li {
    background: url(../images/main_page/new_books/new_book/background.png) no-repeat 0 0;
    background-size: cover;
    padding: 5px;
}
#tab .my_self_bx li a > div,
#tab .my_essay_bx li a > div,
#tab .my_author_bx1 li a > div,
#tab .my_author_bx2 li a > div,
#tab .my_famous_bx li a > div,
#tab .my_family_bx li a > div {
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    font-size: 1.3rem;
}



/* ************* activity tab *************** */
#tab .progress_title_box {
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 0 5%;
}
#tab .progress_title {
    width: 220px;
    font-size: 1.4rem;
    margin: 0 0 20px 0;
}
#tab .activity_detail_btn {
    display: inline-block;
    width: 130px;
    height: 20px;
    text-align: center;
    background-color: #ECECEC;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 2%;
}
#tab .chart_wrap {
    padding: 0 5%;
}
#tab .circle_progress {
    width: 48%;
    height: 50%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 7px;
}
#tab .circle_progress a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#tab .circle_progress:nth-child(odd) {
    margin-right: 2%;
}
#tab .circle_progress:nth-child(1),
#tab .circle_progress:nth-child(2) {
    margin-bottom: 2%;
}
#tab .circle_progress .canvas_box {
    position: relative;
}
#tab .circle_progress .canvas_box img {
    display: block;
    width: 20%;
    height: 50%;
    position: absolute; left: 50%; top: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#tab .circle_progress .canvas_box #circleProgress2 + img {
    width: 30%;
}
#tab .circle_progress h3 {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 20px;
}
#tab .circle_progress .kbs_exam_title {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 5px;
}

#tab .activity_list {
    width: 90%;
    margin: 0 auto;
}
#tab .activity_list ul {
    width: 100%;
}
#tab .activity_list ul li { 
    width: 100%;
    height: 60px;
    border-right: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: 20px;
}
#tab .activity_list ul li img {
    display: block;
    width: 50px;
    height: 40px;
    float: left;
    margin: 10px;
}
#tab .activity_list ul li h3 {
    float: left;
    line-height: 60px;
    font-size: 1.2rem;
}
#tab .activity_list ul li a {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #333333;
    border-radius: 30px;
    color: #fff;
    float: right;
    margin: 10px 20px 0 0;
}



/* ************* booktest.html ************ */
/* ************* booktest4.html ************ */
#tab .week_test_title {
    font-size: 1.4rem;
    padding: 20px 5%;
}
#tab .week_title_box,
#tab .week_title_box2 {
    width: 100%;
    position: relative;
    padding: 0 5%;
}
#tab .week_title_box img,
#tab .week_title_box2 img {
    width: 100%;
}
#tab .week_title_box h3,
#tab .week_title_box2 h3 {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    bottom: 30%;
    left: 0;
}
#tab .week_title_box2 h3 {
    color: #000;
}

#content,
#content4 {
    width: 90%;
    background: url(../images/main_page/activity/detail_page/exam/body.jpg) no-repeat top center;
    background-size: cover;
    padding: 0 5%;
    margin: 0 auto;
}
#content4 {
    background: url(../images/main_page/activity/detail_page/exam/body2.jpg) no-repeat top center;
    background-size: cover;
}
#content img,
#content4 img {
    width: 100%;
    margin-top: 20px;
}
#tab .exam_text {
    padding: 5%; 
}
#tab .exam_text h4 {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
#tab .exam_text ul li {
    margin-bottom: 10px;
}
#tab .exam_text ul li label {
    font-size: 1.2rem;
}
#tab .exam_submit {
    width: 100%;
    padding: 20px 5%;
}
#tab .exam_submit button {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #000E1B;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
}


/* ************ booktest2.html ************* */
/* ************ booktest3.html ************* */
/* ************ booktest5.html ************* */
/* ************ booktest6.html ************* */
#content2,
#content3,
#content5,
#content6 {
    width: 90%;
    background: url(../images/main_page/activity/detail_page/exam/body.jpg) no-repeat top center;
    background-size: cover;
    padding: 0 5%;
    margin: 0 auto;
}
#content5,
#content6 {
    background: url(../images/main_page/activity/detail_page/exam/body2.jpg) no-repeat top center;
    background-size: cover;
}
#content2 .correct_box,
#content3 .correct_box,
#content5 .correct_box,
#content6 .correct_box {
    width: 100%;
    text-align: center;
    padding: 5% 0;
}
#content2 .correct_box img,
#content3 .correct_box img,
#content5 .correct_box img,
#content6 .correct_box img {
    width: 100px;
    height: 100px;
}
#content2 .correct_box .answer,
#content3 .correct_box .answer,
#content5 .correct_box .answer,
#content6 .correct_box .answer {
    font-size: 1.4rem;
    font-weight: bold;
}
#content2 > img,
#content3 > img,
#content5 > img,
#content6 > img {
    width: 100%;
}
#content2 .answer_text,
#content3 .answer_text,
#content5 .answer_text,
#content6 .answer_text {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: justify;
}
#content2 .answer_text .example_text,
#content3 .answer_text .example_text,
#content5 .answer_text .example_text,
#content6 .answer_text .example_text {
    color: #818486;
}
.btn_box {
    margin-bottom: 20px;
    padding: 0 5%;
}
.booktest2_next_btn,
.booktest3_next_btn,
.booktest5_next_btn,
.booktest6_next_btn {
    display: inline-block;
    width: 48%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    text-align: center;
    color: #000;
    background-color: #E5E5E5;
    margin-right: 2%;
}
.booktest2_ok_btn,
.booktest3_ok_btn,
.booktest5_ok_btn,
.booktest6_ok_btn {
    display: inline-block;
    width: 48%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    background-color: #000E1B;
}


/* ************ booktest_list.html ************* */
#tab .week_test_list {
    width: 90%;
    border-top: 1px solid #ccc;
    margin: 0 auto;
}
#tab .week_test_list li {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 20px 0;
}
#tab .week_test_list li .wait_done_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
#tab .week_test_list li .wait_done_box img {
    width: 100%;
    height: 100%;
}
#tab .week_test_list li .week_box {
    display: inline-block;
}
#tab .week_test_list li .week_box h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
#tab .week_test_list li .week_box .week_date {
    font-size: 1.2rem;
}



/* ************ kbs_main.html ************* */
#tab .title_banner_box {
    width: 100%;
    position: relative;
    padding: 20px 5% 0 5%;
}
#tab .title_banner_box h3 {
    width: 100%;
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    left: 5%;
}
#tab .title_banner_box img {
    width: 100%;
}






/* ************ bookcontest.html ************* */
.entry_btn {
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #033333;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    margin: 30px auto;
}



/* ************ bookcontest2.html ************* */
/* 레이아웃 구성시작 */
#form_content {
    width: 100%;
}

/* 개별영역 구성시작 */
#form_content form {
    width: 100%;
}
#form_content form fieldset {
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
}
#form_content form .form_group {
    width: 95%;
    margin: 20px 5%;
}
#form_content form .form_group label {
    width: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    vertical-align: top;
    padding-right: 20px;
}
#form_content form .form_group input,
#form_content form .form_group select,
#form_content form .form_group textarea {
    width: 80%;
    border-radius: 0;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    padding: 2px 2%;
}
#form_content form .form_group input,
#form_content form .form_group select{
    height: 30px;
}
#form_content form .form_group #grade {
    width: 40%;
}

/* select 화살표 스타일 변경 */
select { 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    background: url(../images/menu_left/icon/select.png) no-repeat 98% 50%;
    background-size: 15px 17px;
} 
select::-ms-expand { /* IE 10, 11의 네이티브 화살표 숨기기 */
    display: none; 
} 

/* input file 스타일 변경 */ 
#form_content form .file_label_replace {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 5%;
    padding-right: 20px;
}
#form_content form .filebox {
    display: inline-block;
    width: 80%;
}
#form_content form .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
#form_content form .filebox label {
    display: inline-block;
    padding: .5em .75em;
    font-size: 1.3rem;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #333333;
}
/* named upload */
#form_content form .filebox .upload-name {
    width: 80%;
    display: inline-block;
    padding: .5em .75em;
    font-size: 1.3rem;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    border: 1px solid #ccc;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
#form_content form .filebox.bs3-primary label {
    color: #fff;
    background-color: #333333;
}

#form_content form .contest_submit {
    width: 98%;
    height: 50px;
    background-color: #fa0;
    color: #fff;
    font-size: 2rem;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 1%;
    bottom: 5px;
}



/* ************ bookcontest3.html ************* */
#bookcontest3 {
    width: 100%;
    text-align: center;
}
#bookcontest3 h2 {
    font-size: 2rem;
    padding: 50px;
}
#bookcontest3 a {
    display: inline-block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    background-color: #FFAA2B;
    color: #fff;
    border-radius: 5px;
}







/* ******************* Media Query ********************* */
@media (min-width: 400px) {
    
    #tab .circle_progress h3,
    #tab .circle_progress .kbs_exam_title {
        font-size: 1.8rem;
    }
    #tab .circle_progress .kbs_exam_title {
        padding-top: 20px;
    }

    #tab .exam_text h4 {
        font-size: 1.6rem;
    }
    #tab .exam_text ul li label {
        font-size: 1.6rem;
    }
}

/* 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용) */
@media (min-width: 768px) { 
    #tab .main_new_bx li,
    #tab .main_kbs1_slide li,
    #tab .main_kbs2_slide li,
    #tab .main_kbs3_slide li,
    #tab .main_kbs4_slide li,
    #tab .main_kbs5_slide li,
    #tab .main_kbs_child_slide li,
    #tab .my_self_bx li,
    #tab .my_essay_bx li,
    #tab .my_author_bx1 li,
    #tab .my_author_bx2 li,
    #tab .my_famous_bx li,
    #tab .my_family_bx li {
        padding: 25px;
    }


    /* new_book_list */
    #tab .list_title_box h2 {
        font-size: 1.8rem;
    }
    #tab .list_title_box p {
        font-size: 1.6rem;
    }
    #tab .book_list_wrap .book_box {
        width: 80%;
    }
    #tab .book_list_wrap .book_box a img {
        width: 150px;
        margin-right: 40px;
    }
    #tab .book_list_wrap .book_info_box h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    #tab .book_list_wrap .book_info_box .author {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    #tab .book_list_wrap .book_info_box .book_info {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
    #tab .book_list_wrap .book_info_box .price {
        font-size: 1.6rem;
    }
    #tab .book_list_wrap .button_box {
        width: 20%;
    }
    #tab .book_list_wrap .button_box a {
        width: 60px;
        height: 60px;
    }
    #tab .book_list_wrap .button_box a:last-child {
        margin-left: 10px;
    }
    #tab .book_list_wrap .button_box a img {
        width: 100%;
        height: 100%;
    }


    /* my_books tab */
    #tab .my_tab_menu {
        height: 63px;
    }
    #tab .my_tab_menu ul {
        width: 60%;
    }
    #tab .my_tab_menu ul li a {
        padding: 15px 25px;
        border-radius: 63px;
        font-size: 2rem;
    }


    /* activity tab */
    #tab .progress_title {
        font-size: 1.8rem;
    }

    /* booktest.html */
    /* booktest4.html */
    #tab .week_test_title {
        font-size: 1.8rem;
    }
    #tab .week_title_box h3,
    #tab .week_title_box2 h3 {
        font-size: 5rem;
    }
    #tab .exam_text h4 {
        font-size: 2rem;
    }
    #tab .exam_text ul li label {
        font-size: 2rem;
    }
    #tab .exam_submit button {
        font-size: 1.6rem;
    }


    /* booktest2.html */
    /* booktest3.html */
    /* booktest5.html */
    /* booktest6.html */
    #content2 .correct_box img,
    #content3 .correct_box img,
    #content5 .correct_box img,
    #content6 .correct_box img {
        width: 200px;
        height: 200px;
    }
    #content2 .correct_box .answer,
    #content3 .correct_box .answer,
    #content5 .correct_box .answer,
    #content6 .correct_box .answer {
        font-size: 1.8rem;
        font-weight: bold;
    }
    #content2 .answer_text,
    #content3 .answer_text,
    #content5 .answer_text,
    #content6 .answer_text {
        font-size: 1.8rem;
    }
    .booktest2_next_btn,
    .booktest3_next_btn,
    .booktest5_next_btn,
    .booktest6_next_btn {
        font-size: 1.8rem;
    }
    .booktest2_ok_btn,
    .booktest3_ok_btn,
    .booktest5_ok_btn,
    .booktest6_ok_btn {
        font-size: 1.8rem;
    }


    /* booktest_list.html */
    #tab .week_test_list li .week_box h3 {
        font-size: 1.8rem;
    }
    #tab .week_test_list li .week_box .week_date {
        font-size: 1.4rem;
    }







    /* font size */
    #header .main_tab_menu a {
        font-size: 1.8rem;
    }
    #tab .main_tab_content h2 {
        font-size: 1.8rem;
    }
    #tab .main_new_bx li a > div,
    #tab .main_kbs1_slide li a > div,
    #tab .main_kbs2_slide li a > div,
    #tab .main_kbs3_slide li a > div,
    #tab .main_kbs4_slide li a > div,
    #tab .main_kbs5_slide li a > div,
    #tab .main_kbs_child_slide li a > div {
        font-size: 1.4rem;
    }
    
    #tab .custom_book_title {
        font-size: 1.8rem;
    }
    #tab .my_tab_menu ul li a {
        font-size: 1.6rem;
    }
    #tab .tab_genre h2,
    #tab .tab_author h2,
    #tab .tab_subject h2 {
        font-size: 1.8rem;
    }
    #tab .my_self_bx li a > div,
    #tab .my_essay_bx li a > div,
    #tab .my_author_bx1 li a > div,
    #tab .my_author_bx2 li a > div,
    #tab .my_famous_bx li a > div,
    #tab .my_family_bx li a > div {
        font-size: 1.4rem;
    }
    
    #tab .activity_list ul li h3 {
        font-size: 1.6rem;
    }


    
    
}